@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

:root {
  --primary-orange : #FFBA00 ; 
  
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

body {
  margin : 72px 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: rgb(17, 16, 16);
  word-wrap: break-word;
}

body {
min-height: 100vh;


}
.div-body {
  position: relative;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #141414;
  height: 72px;
  padding-top: 12px;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 24px 0 24px;
}
.header-logo a { 
  font-family: 'Agbalumo';
  font-size: 32px;
  color: #FFBA00;
  font-weight: 600;
}
.header-logo a span {
  color: red;
}
.header-logo a .span3 {
  color: rgb(0, 90, 168);
}
.header-logo a .span2 {
  color: rgb(0, 168, 90);
}
.header-logo a .span1 {
  color: rgb(255, 255, 255);
}
.header-nav ul{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.header-contact {
  font-weight: 500;
  color: #FFBA00;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.header-nav ul li a:hover {
  color: #FFBA00;
}
.header-nav a {
  background-image: linear-gradient(
  to right,
  #FFBA00,
  #FFBA00 50%,
  #ffffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: 600;
}

.header-nav  a:before {
  content: '';
  background: #FFBA00;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.header-nav a:hover {
  background-position: 0;
}

.header-nav a:hover::before {
  width:100%;
}



.popup{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
  flex-direction: column;
  padding: 60px 10px;
  z-index: 100; 
}
.popup-disappear {
   display: none;
}
.popup div{
  color: #FFBA00;
  font-size: 17px;
  font-weight: 500;   
  width: 400px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 35px;
}
.popup button{
  padding: 5px 40px;
  background-color: #FFBA00;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.section1{
  padding: 150px 20px;  
  background-image: url('../img/bida-table-img.jpg');
  background-size:1700px 800px ;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; 
  background-color: #000000;
}


.wz-heading-container{
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: -33px;
}

.wz-heading-inner {
  display: flex;
  position: relative;
  padding: 18px 18px;
  background: url('https://warningzone.com/wp-content/plugins/warningzone/assets/images/heading-bg.jpg') repeat-x;
  background-size: auto;
  min-width: 250px;
 justify-content: center;
 align-items: center;
}

.wz-heading-before {
  position: absolute;
  content: '';
  background: #000000;
  width: 7px;
  height: 7px;
  top: calc(50% - 3px);
  left: 8px;
  border-radius: 50%;
}

.wz-heading {
  margin: 0;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.wz-heading-after {
  position: absolute;
  content: '';
  background: #000000;
  width: 7px;
  height: 7px;
  top: calc(50% - 3px);
  right: 8px;
  border-radius: 50%;
}
.form-border{
  border: 2px solid #FFBA00;
  margin: 0px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom:60px ;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top:90px ;
  padding-bottom: 60px;
  gap: 40px;
}
.form label{
 
  color: #FFBA00;
  font-size: 18px;
  font-weight: 600;
}


.name-inf,
.phone-inf,
.location-inf
 {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.name-input{
  margin-left: 20px;
  padding-top: 8px;
  padding-left: 2px;
  padding-bottom:8px ;
  padding-right: 15px;
  font-size: 17px;
  font-weight: 500;
  width: 60%;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #FFBA00;
  color: var(--primary-orange)  ;

}

.phone-input{
  margin-left: 20px;
  padding-top: 8px;
  padding-left: 2px;
  padding-bottom:8px ;
  padding-right: 15px;
  font-size: 17px;
  font-weight: 500; 
  width: 55%;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #FFBA00;
  color: var(--primary-orange)  ;

}
.location-select
{
  padding: 10px 5px;
  font-size: 16px;
  font-weight: 500;
   margin-top: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #FFBA00;
  color: var(--primary-orange);
  outline: none;
  cursor: pointer;
  width: 95%;
  font-size: 17px;
}

.location-select option{
   color: var(--primary-orange);
   background: #3a3a3a;
    
}


.elementor-field{
  position: relative;
}

.check-inf{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.checkBtn{
  color: #FFBA00 !important;
  background: transparent !important;
  border: 2px solid #FFBA00 !important;
  border-radius: 2px !important;
  transition: 0.5s !important;
  cursor: pointer !important;
  font-size: 18px !important;
  width: 150px;
}
.checkBtn:hover{
  color: white !important;
  border-color: white !important;
}
.div-extend-check .error {
  transform: translateX(0px);
}

.section2{
  background-color: #1C1C1C;
  display: flex;
  flex-wrap: wrap;
  justify-content:center ;
  align-items: center;
  padding: 30px 0 10px 0; 
  gap: 60p100
}
.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 margin-bottom: 20px; 
}
.col h3,
.col-register h3
{
  width: 420px; 
  margin-bottom: 20px;
  color: #e2e2e2;
}
.col h4 {
  width: 420px;
  margin-bottom: 20px;
  color: #e2e2e2;
  font-weight: 500;
  font-size: 17px;
}
.col-register h4{
  width: 420px;
  margin-bottom: 20px;
  color: #e2e2e2;
  font-weight: 500;
  font-size: 17px;
}
.col .logo{
  width: 180px;
  margin-bottom: 20px;
}

.col-register{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 margin-bottom: 20px; 
}
.col-register h3 {
  color: #FFBA00;
}
.col-register .email-receive-inf{
  background-color: transparent;
  padding: 10px 10px 10px 5px;
  border: 2px solid #FFBA00;
  border-radius: 2px;
  margin-top: 10px;
  width: 150%;  
  color: #FFBA00;
  outline: none;
}
.email-receive-inf::placeholder{
  color: #FFBA00;
  font-size: 14px;
  
}
.email-receive-inf:focus{
  border: 2px solid #FFBA00;

}


.error {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 14px;
  margin-bottom: 0px;
  transform: translateX(200px);
}

.error p{
  color:#D7524F ;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}


.done {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 20px ;
  margin-top: 12px;
}
.done span{
   color: white;
   font-size: 22px;
   font-weight: 600;
}
.done p{
  color:white ;
  font-size: 18px;
  font-weight: 600;
}

.footer {
  padding: 20px 30px 20px 30px;
  background-color: #141414;
}


.footer .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 200px 0 50px;
}

.footer .container .year {
   color: white;
}

.footer .container i {
  color: #FFBA00;
  font-size: 38px;
  margin-right: 10px;
  cursor: pointer ;
}


.container-card{
   display: grid;
   grid-template-columns: repeat(3,380px);
   gap:30px ;
}
.card{
  height: 440px;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  border: 1px solid #FFF ; 
}

.container-card img{
  height: 400px;
  width: 377px;
  border-radius: 25px;
  transition: 0.5s;
}

 .intro{
  height: 50px;
  width: 377px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom:0px;
  /* background: rgba(19, 19, 19, 0.5);  */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.02),rgba(0, 0, 0,1)) ;
  color: #FFBA00;
  transition: 0.5s;
}

 .container-card h2{
  font-size: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  transform: translateX(10px);
} 

.container-card p{
  font-size: 18px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
}

.container-card span{
  font-weight: bold;
}

.card:hover{
  cursor: pointer;
}

.card:hover .intro{
  height: 220px;
  bottom: 0px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.02),rgba(0, 0, 0,1)) ;
}

.card:hover p{
  opacity: 1;
  visibility: visible;
}

.card .check{
  position: absolute;
  top:10px ;
  left: 10px ;
  font-size: 30px;
  color: var(--primary-orange);

}

.hidden{
  display: none !important;
}
.active {
  border: 2px solid var(--primary-orange);
  box-shadow: 0 1px 5px var(--primary-orange);
  border-radius: 25px;
  box-shadow: 0 1px 50px 0 var(--primary-orange) inset,
              0 1px 50px 0 var(--primary-orange) ;
            
}  

.active .intro{
  height: 220px;
  bottom: 0px !important;
  /* background: rgba(19, 19, 19, 0.7);  */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.02),rgba(0, 0, 0,1)) ;
}
.active p {
  opacity: 1 !important; 
  visibility: visible !important;
}


.room-label,
.time-label{
  text-align: center;
}

.time-label{
  transform: translateY(10px);
}

.wrap-time {
  margin: 0 auto;
  transform: translateY(-30px);
}
ul.tabs {
  width: 400px;
  height: 80px;
  list-style: none;
  overflow: hidden;
  padding:0 ;
  text-align: center;
  
}
ul.tabs li {  
  float: left;
  width: 130px;
  
}
ul.tabs li a {
  position: relative;
  display: block;
  height: 50px;
  margin-top: 40px;
  padding: 10px 0 0 0;
  font-size: 18px;
  text-align: center; 
  text-decoration: none;
  color: var(--primary-orange);
  background: #000;
  -webkit-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
  box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
  border: 0px solid #000000;
  -webkit-transition: padding 0.2s ease, margin 0.2s ease;
  -moz-transition: padding 0.2s ease, margin 0.2s ease;
  -o-transition: padding 0.2s ease, margin 0.2s ease;
  -ms-transition: padding 0.2s ease, margin 0.2s ease;
  transition: padding 0.2s ease, margin 0.2s ease ;
  border: 1px solid var(--primary-orange) ;
}
 .tabs li:first-child a {
z-index: 3;
-webkit-border-top-left-radius: 8px;
-moz-border-radius-topleft: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 0;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}

.tabs li:nth-child(2) a {
  z-index: 2;
  border-radius: 4px 4px 0 0;
}

.tabs li:last-child a {
z-index: 1;
-webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
-moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topright: 8px;
border-top-right-radius: 8px;
}

ul.tabs li a:hover {
  margin: 35px 0 0 0;
  padding: 10px 0 5px 0;
}

ul.tabs li a.active-time {
  margin: 30px 0 0 0;
  padding: 10px 0 10px 0;
  background: var(--primary-orange);
  color: #000 ;
  z-index: 4;
  outline: none;
}

.group:before,
.group:after {
    content: " "; 
    display: table; 
}
.group:after {
    clear: both;
}

#content {
  width: 864px;
  height: 250px;  
  margin: 0 auto;
  background: #000;
-webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
       -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
            box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  -webkit-border-bottom-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
border-color: var(--primary-orange);
border: 1px solid var(--primary-orange);
}

.hidden-time{
  display: none !important;
}

#one,#two,#three{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(5,100px);
  gap: 30px;
  padding: 32px 140px;
}

 button {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-orange);
  font-size: 18px;
  background-color: #000;
  padding: 10px 0px;
  width: 112px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid var(--primary-orange);
}
 button:hover{
  background-color: var(--primary-orange);
  color: #000;
}

.active_button{
  background-color: var(--primary-orange);
  color: #000;
}


.buttonDay1:disabled {
  cursor: not-allowed; 
  opacity: 0.5; 
  pointer-events: none;
} 

.div-room .error{
   transform:translateX(500px) ;
}
.div-time .error{
   transform: translate(500px,-30px)
}