@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header .container {
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 200px ;
  border-bottom: 4px solid #FFBA00 ;
}

.header-left img{
   height: 28px;

} 
.header-right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header-right .phone{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header-right .phone-icon i
{
  color: #FFBA00 ;
  font-size: 25px;
}
.header-right .phone-number{
  color: #FFBA00 ;
  font-size: 20px;
  font-weight: 400;
}

.header-right .user-icon i{
  color: white;
  font-size:30px ;

}

.header-right .bag-icon i{
  color: white;
  font-size: 30px;
}

.header-right .bag-icon{
  position: relative;
}
.header-right .bag-icon .quantity{
  position: absolute;
  color: white;
  font-size: 11px;
  font-weight: 600;
  background-color: rgb(251, 29, 29);
  padding: 2px 5px;
  border: none;
  border-radius: 10px;
  top:0 ;
  right: -2px;
}

